.confirm-purchase-container {
  z-index: 9999;
  position: absolute;
  border-radius: var(--border-radius);
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--form-background);
  padding: 5rem;
}

.confirm-header {
  font-size: 24px;
  font-weight: 400;
}

.confirm-description {
  font-size: 16px;
  font-weight: 300;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.confirm-note {
  padding: 0rem;
  font-size: 14px;
  font-weight: 600;
}

.confirm-cost {
  font-size: 42px;
  font-weight: 300;
}

.confirm-cost-subtext {
  font-size: 24px;
  font-weight: 300;
}

.confirm-buttons-container {
  padding-top: 3rem;
  display: flex;
}

.corfirm-button {
  width: 15rem;
  height: 3rem;
  margin: 0rem 1.5rem;
  flex: 1;
  border-radius: var(--border-radius);
}

.corfirm-button-cancel {
  background-color: rgb(68, 68, 68);
}

.corfirm-button-cancel:hover {
  background-color: rgb(121, 121, 121);
}