:root {
  --form-background: rgb(243, 243, 243);
  --form-deactive: rgb(190, 190, 190);
  --form-deactive-hover: rgb(219, 219, 219);
  --tab-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.3);
  --tab-shadow-hover: inset 0 1px 2px 0 rgba(0, 0, 0, 0.4);
  --tab-text: rgba(0, 0, 0, 0.5);
  --form-button: rgb(112, 112, 112);
  --form-button-hover: rgb(0, 0, 0);
  --border-radius: 4px;
}

.form-tab {}

.signup-container {
  z-index: 9999;
  position: absolute;
  border-radius: var(--border-radius);
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--form-background);
}

.form-container {
  background-color: var(--form-background);
  margin-top: 5rem;
  margin-left: 4rem;
  margin-right: 4rem;
}


.screen-dimmer {
  z-index: 9998;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(12, 12, 12, 0.5);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.signup-tabs-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.signup-tab {
  height: 3rem;
  background-color: var(--form-background);
  color: var(--tab-text);
  box-shadow: none;
  flex: 1;
}

.signup-tab:hover {
  background-color: var(--form-background);
  box-shadow: none;
}

.signup-tab-deactive {
  background-color: var(--form-deactive);
  box-shadow: var(--tab-shadow);
  flex: 1;
}

.signup-tab-deactive:hover {
  background-color: var(--form-deactive-hover);
  box-shadow: var(--tab-shadow-hover);
}

.input-container {
  padding-top: 1rem
}

input[type=text],
input[type=password] {
  width: 15rem;
  box-sizing: border-box;
  border: none;
  height: 2.2rem;
  padding-left: 1.0rem;
  box-shadow: inset 0.5px 1px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background-color: rgba(54, 54, 54, 0.15);
  color: var(--secondary);
  font-size: 16px;
}

input[type=text]:focus,
input[type=password]:focus {
  border-bottom: 2px solid var(--highlight-deactive);
}

.form-button-container {
  margin-bottom: 40px;
  padding-top: 3rem;
}

.form-button {
  width: 100%;
  height: 40px;
  border: 0px;
  border-radius: var(--border-radius);
}


.form-error {
  color: rgb(209, 23, 17);
  font-size: 15px;
  font-weight: 500;
  height: 40px;
}

.form-note {
  font-size: 11px;
  font-weight: 400;
  color: rgb(56, 56, 56);
}


@media only screen and (max-width: 400px) {

  .form-container {
    background-color: var(--form-background);
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}