.tutorial-container {
  width: 100%;
  padding-top: 10vh;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.tutorial-card {
  display: flex;
  text-align: left;
  flex-direction: row;
  align-items: flex-start;
  background-color: var(--main);
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
  margin: 7rem 0;
  justify-content: flex-end;
}

.video-description-container {
  width: 100%;
  height: 100%;
  padding: 5rem;
  flex: 1;
}

.video-container {
  width: 500px;
  height: 430px;
  background-color: var(--main);
  flex: 3;
}

.video-iframe {
  width: 100%;
  height: 100%;
}

.tutorial-title {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 30px;
  font-weight: 400;
}

.sub-text {
  font-size: 18px;
  margin-top: 1rem;
  font-weight: 400;
}

.sub-description {
  font-size: 18px;
  font-weight: 300;
}

@media only screen and (max-width: 900px) {

  .tutorial-card {
    flex-direction: column;
    height: 600px;
    margin: 0rem 0;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .video-description-container {
    width: 100%;
    height: 100%;
    padding: 0rem;
    flex: 1;
  }

  .tutorial-title {
    font-weight: 500;
    font-size: 24px;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0rem;
  }

  .sub-text {
    font-size: 14px;
    font-weight: 500;
    margin: 0rem 1rem;
    margin-top: 0.5rem;
  }

  .sub-description {
    font-size: 14px;
    margin: 1rem 1rem;
  }

  .video-container {
    width: 100%;
    flex: 3;
  }
}