.license-deactivate-button {
  font-size: 14px;
  height: 2rem;
  padding: 0rem 3rem;
  margin: 0px;
}

.license-activate-button {
  font-size: 10px;
  height: 1.5rem;
  padding: 0rem 2rem;
  margin: 0px;
  background-color: rgb(153, 153, 153);
}

tr {
  text-align: left;
  font-size: 16px;
}


@media only screen and (max-width: 900px) {
  .license-deactivate-button {
    font-size: 11px;
    height: 2rem;
    padding: 0rem 1rem;
  }

  .license-activate-button {
    font-size: 10px;
    height: 1.8rem;
    padding: 0rem 1rem;
  }

  tr {
    text-align: left;
    font-size: 12px;
  }

  table,
  th,
  td {
    border-spacing: 0px;
    padding: 0.2rem 0.5rem;
    margin: auto;
    border: 0px;
    border-collapse: collapse;
  }
}