nav {
  position: fixed;
  width: 100%;
  box-shadow: var(--shadow);
}

.navbar-main {
  height: var(--navbar-main-height);
  z-index: 999;
  background-color: var(--secondary);
}

.navbar-profile {
  height: var(--navbar-profile-height);
  z-index: 998;
  top: var(--navbar-main-height);
  background-color: var(--secondary-light);
}

.navbar-button {
  float: right;
  height: 100%;
  background-color: var(--header);
  color: var(--text-light);
  min-width: 12em;
  box-shadow: none;
}

.navbar-button-highlighted {
  background-color: var(--highlight-deactive);
  height: 100%;
  width: 7.5em;
  float: right;
}

.navbar-logo {
  float: left;
  height: 60%;
  width: auto;
  margin: 10px;
  margin-left: 20px;
}


@media only screen and (max-width: 900px) {
  .navbar-button {
    min-width: 6.2em;
    width: auto;
  }
}

@media only screen and (max-width: 600px) {
  .navbar-logo {
    display: none;
  }

  .navbar-button {
    min-width: 5.2em;
  }
}