.background-hole {
  height: 55vh;
  background-attachment: fixed;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.tittle-card {
  min-height: 40vh;
  background-color: var(--main);
  text-align: center;
  box-shadow: var(--shadow);
  padding-top: 10vh;
  padding-bottom: 4vh;
}

.image-card {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  background-color: var(--secondary);
}

.image-card-content {
  flex-grow: 1;
  flex-basis: 0;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 4rem;
}

.image-card-text {
  background-color: var(--secondary);
  color: var(--text-light);
  text-align: center;
  vertical-align: middle;
  padding-top: 9rem;
}

.image-card-image {
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.try-btn {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 4.5rem;
  width: 22rem;
  font-size: 24px;
  font-weight: 400;
  background-color: var(--highlight-deactive);
}

.try-btn:hover {
  background-color: var(--highlight);
  transform: scale(1.015);
}


@media only screen and (max-width: 900px) {
  .image-card {
    flex-direction: column;
    height: 900px;
  }

  .image-card-image {
    height: 600px;
  }

  .try-btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 3.5rem;
    width: 16rem;
    font-size: 18px;
    font-weight: 400;
    background-color: var(--highlight-deactive);
  }
}