:root {
  --table-purchase: rgb(199, 220, 228);
  --table-purchase-hover: rgb(255, 255, 255);
}

.table-container {
  padding-bottom: 30vh;
}

.purchase-text {
  padding-top: 15vh;
  padding-bottom: 5vh;
  padding-left: 5rem;
  background-color: var(--main);
  text-align: center;
}

.background0 {
  background-color: rgb(0, 154, 201);
}

.background0-field {
  background-color: rgba(0, 154, 201, 0.5);
}

.background1 {
  background-color: rgb(0, 154, 201);
}

.background1-field {
  background-color: rgba(0, 154, 201, 0.5);
}

.background2 {
  background-color: rgb(105, 105, 105);
}

.background2-field {
  background-color: rgba(105, 105, 105, 0.5);
}


.table-transparent-field {
  background-color: transparent;
}

.table-product {
  font-size: 35px;
  font-weight: 300;
  text-align: center;
  width: 100%;
  color: var(--main);
}

.table-cost {
  color: var(--main);
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  width: 100%;
}

table,
th,
td {
  border-spacing: 0px;
  padding: 0.5rem 1rem;
  margin: auto;
  border: 0px;
  border-collapse: collapse;
}

tr {
  border: solid;
  border-width: 1px 0;
  font-size: 16px;
  font-weight: 400;
  border-color: rgba(0, 0, 0, 0.15);
}

tr:first-child {
  border-top: none;
}

td:first-child {
  text-align: left;
  font-size: 14px;
  font-weight: 300;
}

.table-purchase-button {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.75rem 5rem;
  background-color: var(--table-purchase);
  color: rgb(0, 69, 90);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.24);
}

.table-purchase-button:hover {
  background-color: var(--table-purchase-hover);
  box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, 0.14);
}


@media only screen and (max-width: 900px) {
  .table-transparent-field {
    display: none;
  }

  .table-purchase-button {
    padding: 0.75rem 3rem;
  }

  .table-product {
    font-size: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .table-transparent-field {
    display: none;
  }

  .table-purchase-button {
    padding: 0.75rem 1rem;
  }

  .table-product {
    font-size: 20px;
    font-weight: 400;
  }

  .table-cost {
    font-size: 13px;
    font-weight: 400;
  }
}