@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

:root {
  --main: rgb(243, 243, 243);
  --secondary: rgb(34, 34, 34);
  --secondary-light: rgb(70, 70, 70);
  --text-light: rgb(238, 238, 238);
  --highlight: rgb(231, 29, 154);
  --highlight-deactive: rgb(194, 30, 131);
  --shadow: 0 1px 25px 0 rgba(0, 0, 0, 0.4);
  --navbar-main-height: 55px;
  --navbar-profile-height: 45px;
}

html {
  /*https://stackoverflow.com/questions/40892327/why-is-font-size-changing-depending-on-portrait-or-landscape-for-mobile-devices*/
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background-color: var(--main);
}

h1 {
  font-size: 4.7em;
  font-weight: 100;
}

h2 {
  font-size: 3em;
  font-weight: 200;
}

h3 {
  font-size: 1.75em;
  font-weight: 300;
}

p {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6;
}

button {
  background-color: var(--highlight-deactive);
  color: var(--text-light);
  border: none;
  font-size: 1em;
  font-weight: 400;
  overflow: hidden;
  -webkit-transition: all 0.25s;
  /* Safari */
  transition: all 0.25s;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}

button:focus {
  outline: none;
}

button:hover {
  background-color: var(--highlight);
  -webkit-transition: all 0.005s;
  /* Safari */
  transition: all 0.005s;
  box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
  background-color: var(--main);
  width: 100%;
}

.main-text {
  padding-top: 35vh;
  padding-bottom: 30vh;
  background-color: var(--main);
  text-align: center;
}

.loader {
  border: 0.5em solid #f3f3f3;
  border-top: 7px solid var(--highlight);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {

  h1 {
    font-size: 2.7em;
    font-weight: 100;
  }

  h2 {
    font-size: 2em;
    font-weight: 200;
  }

  button {
    font-size: 0.85em;
  }

  :root {
    --navbar-main-height: 45px;
    --navbar-profile-height: 40px;
  }
}